<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="Url" value="https://api.openweathermap.org/data"/>
    <add key="Version" value="2.5"/>
    <add key="AppId" value="9acb0f4df01ac2645b18fabf8ac4bdc6"/>
  </appSettings>
</configuration>